<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${clanmemberName}"></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{../styles/css/main.css}" />
    <noscript><link rel="stylesheet" th:href="@{../styles/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#members">Members</a></li>
            </ul>
        </nav>

        <div class="logo">
            <span class="icon fa-gem"></span>
        </div>
        <div class="content">
            <div class="inner">
                <span th:if="${clanmemberLevels.clanmember == null}">
                    <h1 th:text="${clanmemberName}"></h1>
                    <p>This member was not found in the database. Most likely because this clanmember has not logged in for a while.</p>
                    <p>If this is not true, please let HC_Kloeperd know about this problem.</p>
                </span>
                <span th:if="${clanmemberLevels.clanmember != null}">
                    <h1 th:text="${clanmemberName}"></h1>
                </span>
            </div>
        </div>

        <span th:if="${clanmemberLevels.clanmember != null}">
            <nav>
                <ul>
                    <li><a href="#levels">Levels</a></li>
                    <li><a href="#minigames">Minigames</a></li>
                    <li><a href="#quests">Quests</a></li>
                </ul>
            </nav>
        </span>
    </header>

    <div id="main">
        <article id="levels">
            <p><i>Last updated: <span th:text="${clanmemberLevels.date}"></span><br />
            American format: <span th:text="${usDateFormatLevels}"></span></i></p>

            <img th:src="@{http://secure.runescape.com/m=avatar-rs/{name}/chat.png(name=${clanmemberName})}" />
            <h2 th:text="${clanmemberLevels.clanmember}" class="major"></h2>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2"1>Skill</th>
                        <th>Level</th>
                        <th>Rank</th>
                        <th>Experience</th>
                        <th>Experience today</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="clanmemberLevel : ${clanmemberLevels.getLevels()}">
                        <td style="text-align:right; padding:4px;">
                            <img width="20" th:src="@{../images/skills/{name}.png(name=${clanmemberLevel.skill.getName().toLowerCase()})}" />
                        </td>

                        <td style="padding-left:0px; vertical-align:middle;" th:text="${clanmemberLevel.skill.getName()}" />
                        <td th:text="${clanmemberLevel.getFormattedLevel()}" />
                        <td th:text="${clanmemberLevel.getFormattedRank()}" />
                        <td th:text="${clanmemberLevel.getFormattedExperience()}" />
                        <td th:text="${clanmemberLevel.getFormattedExperienceToday()}" />
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article id="minigames">
            <p><i>Last updated: <span th:text="${clanmemberMinigames.date}"></span><br />
                American format: <span th:text="${usDateFormatMinigames}"></span></i></p>

            <img th:src="@{http://secure.runescape.com/m=avatar-rs/{name}/chat.png(name=${clanmemberName})}" />
            <h2 th:text="${clanmemberMinigames.clanmember}" class="major"></h2>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Minigame</th>
                        <th>Rank</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="clanmemberMinigame : ${clanmemberMinigames.getMinigames()}">
                        <td style="text-align:right; padding:1px;">
                            <img width="20" th:src="@{../images/minigames/{name}.png(name=${clanmemberMinigame.getMinigameNameForImage()})}" />
                        </td>

                        <td style="padding-left:4px; vertical-align:middle;" th:text="${clanmemberMinigame.getMinigameNameString()}"></td>
                        <td th:text="${clanmemberMinigame.getFormattedRank()}" />
                        <td th:text="${clanmemberMinigame.getFormattedScore()}" />
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article id="quests">
            <p><i>Last updated: <span th:text="${clanmemberQuests.date}"></span><br />
                American format: <span th:text="${usDateFormatQuests}"></span></i></p>

            <img th:src="@{http://secure.runescape.com/m=avatar-rs/{name}/chat.png(name=${clanmemberName})}" />
            <h2 th:text="${clanmemberQuests.clanmember}" class="major"></h2>
            <h3><span th:text="${clanmemberQuests.getTotalQuestPoints()}"></span> quest points</h3>

            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Difficulty</th>
                        <th>Members</th>
                        <th>Quest points</th>
                        <th>User eligible</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="clanmemberQuest : ${clanmemberQuests.getQuests()}">
                        <td th:text="${clanmemberQuest.getTitle()}" />

                        <span th:if="${clanmemberQuest.getStatus().getName().equalsIgnoreCase('Completed')}">
                            <td style="color:green;" th:text="${clanmemberQuest.getStatus().getName()}" />
                        </span>
                        <span th:if="${clanmemberQuest.getStatus().getName().equalsIgnoreCase('Started')}">
                            <td style="color:yellow;" th:text="${clanmemberQuest.getStatus().getName()}" />
                        </span>
                        <span th:if="${clanmemberQuest.getStatus().getName().equalsIgnoreCase('Not Started')}">
                            <td style="color:red;" th:text="${clanmemberQuest.getStatus().getName()}" />
                        </span>

                        <td th:text="${clanmemberQuest.getDifficulty().getName()}" />

                        <span th:if="${clanmemberQuest.isMembers()}">
                            <td><img th:src="@{../images/member.png}" /></td>
                        </span>
                        <span th:if="${!clanmemberQuest.isMembers()}">
                            <td><img th:src="@{../images/non-member.png}" /></td>
                        </span>

                        <td th:text="${clanmemberQuest.getQuestPoints()}" />

                        <span th:if="${clanmemberQuest.isUserEligible()}">
                            <td><img th:src="@{../images/yes.png}" /></td>
                        </span>
                        <span th:if="${!clanmemberQuest.isUserEligible()}">
                            <td><img th:src="@{../images/no.png}" /></td>
                        </span>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>

    <footer id="footer">
        <p class="copyright">&copy; 2023-<span th:text="${currentYear}"></span> Martijn Jansen. Version <span th:text="${versionNumber}"></span></p>
    </footer>
</div>

<div id="bg"></div>

<script type="text/javascript" th:src="@{../styles/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../styles/js/browser.min.js}"></script>
<script type="text/javascript" th:src="@{../styles/js/breakpoints.min.js}"></script>
<script type="text/javascript" th:src="@{../styles/js/util.js}"></script>
<script type="text/javascript" th:src="@{../styles/js/main.js}"></script>

</body>
</html>
