<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mauls Inc.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{styles/css/main.css}" />
    <noscript><link rel="stylesheet" th:href="@{styles/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header">
        <div class="logo">
            <span class="icon fa-gem"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Error</h1>
                <p>Hello there! Something went terrible wrong. So yeah, good luck with that!</p>
            </div>
        </div>
    </header>

    <div id="main">
    </div>

    <footer id="footer">
    </footer>

</div>

<div id="bg"></div>

<script type="text/javascript" th:src="@{styles/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/browser.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/breakpoints.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/util.js}"></script>
<script type="text/javascript" th:src="@{styles/js/main.js}"></script>

</body>
</html>
