<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mauls Inc.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{styles/css/main.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{../images/favicon.ico}" />
    <noscript><link rel="stylesheet" th:href="@{styles/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header">
        <div class="logo">
            <span class="icon fa-gem"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Mauls Inc.</h1>
                <p>This is an awesome website!</p>
                <p>And if you don't like it, you can leave! :D</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#members">Members</a></li>
            </ul>
        </nav>
    </header>

    <div id="main">
        <article id="members">
            <p><i>Last updated: <span th:text="${clanmembers.getFirst()}"></span><br />
            American format: <span th:text="${usDateFormat}"></span></i></p>
            <h2 class="major"><span th:text="${clanmembers.getSecond().size()}"></span> Members</h2>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rank</th>
                            <th>Experience in clan</th>
                            <th>Kills</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="clanmember : ${clanmembers.getSecond()}">
                            <td>
                                <a th:href="@{/clanmember/{name}(name=${clanmember.name})}" th:text="${clanmember.name}" />
                                <span th:if="${clanmember.hardcoreIronman}" >
                                    <img style="height:20px;" th:src="@{../images/hcim.png}" />
                                </span>
                                <span th:if="${clanmember.ironman AND !clanmember.hardcoreIronman}" >
                                    <img style="height:20px;" th:src="@{../images/im.png}" />
                                </span>
                            </td>

                            <td th:text="${clanmember.rank.getName()}" />
                            <td th:text="${clanmember.getFormattedXp()}" />
                            <td th:text="${clanmember.getFormattedKills()}" />
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>

    <footer id="footer">
        <p class="copyright">&copy; 2023-<span th:text="${currentYear}"></span> Martijn Jansen. Version <span th:text="${versionNumber}"></span></p>
    </footer>

</div>

<div id="bg"></div>

<script type="text/javascript" th:src="@{styles/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/browser.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/breakpoints.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/util.js}"></script>
<script type="text/javascript" th:src="@{styles/js/main.js}"></script>

</body>
</html>
