<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mauls Inc.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{styles/css/main.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{../images/favicon.ico}" />
    <noscript><link rel="stylesheet" th:href="@{styles/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header">
        <nav>
            <ul>
                <li><a href="#members">Members</a></li>
            </ul>
        </nav>
        <div class="logo">
            <span class="icon fa-gem"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Mauls Inc.</h1>
                <p>This is an awesome website!<br />
                    And if you don't like it, you can leave! :D</p>
                <h3>Top 5 experience today</h3>
                <table th:if="${!top5ExperienceToday.isEmpty()}">
                    <thead>
                        <tr>
                            <th style="text-align:left; width:10%;"></th>
                            <th style="text-align:left">Name</th>
                            <th style="text-align:left">Experience today</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="clanmemberLevel, iStat : ${top5ExperienceToday}">
                            <td style="text-align:left" th:text="${iStat.count}" />

                            <td style="text-align:left">
                                <a th:href="@{/clanmember/{name}(name=${clanmemberLevel.clanmember})}" th:text="${clanmemberLevel.clanmember}" />
                            </td>

                            <td style="text-align:left" th:text="${clanmemberLevel.getLevels().get(0).getFormattedExperienceToday()}" />
                        </tr>
                    </tbody>
                </table>

                <table th:unless="${!top5ExperienceToday.isEmpty()}">
                    <thead>
                        <tr>
                            <th style="text-align:center">This clan is slacking, no one got anything!</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </header>

    <div id="main">
        <article id="members">
            <p><i>Last updated: <span th:text="${normalDateFormat}"></span><br />
            American format: <span th:text="${usDateFormat}"></span></i></p>
            <h2 class="major"><span th:text="${clanmembers.size()}"></span> Members - <span th:text="${amountOnline}"></span> online</h2>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rank</th>
                            <th>Experience in clan</th>
                            <th>Kills</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="clanmember : ${clanmembers}">
                            <td>
                                <img width="15px" th:if="${clanmember.value}" th:src="@{../images/online-small.png}" />
                                <img width="15px" th:if="${!clanmember.value}" th:src="@{../images/offline-small.png}" />

                                <a th:href="@{/clanmember/{name}(name=${clanmember.key.name})}" th:text="${clanmember.key.name}" />
                                <span th:if="${clanmember.key.hardcoreIronman}" >
                                    <img style="height:20px;" th:src="@{../images/hcim.png}" />
                                </span>
                                <span th:if="${clanmember.key.ironman AND !clanmember.key.hardcoreIronman}" >
                                    <img style="height:20px;" th:src="@{../images/im.png}" />
                                </span>
                            </td>

                            <td th:text="${clanmember.key.rank.getName()}" />
                            <td th:text="${clanmember.key.getFormattedXp()}" />
                            <td th:text="${clanmember.key.getFormattedKills()}" />
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>

    <footer id="footer">
        <p class="copyright">&copy; 2023-<span th:text="${currentYear}"></span> Martijn Jansen. Version <span th:text="${versionNumber}"></span></p>
    </footer>

</div>

<div id="bg"></div>

<script type="text/javascript" th:src="@{styles/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/browser.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/breakpoints.min.js}"></script>
<script type="text/javascript" th:src="@{styles/js/util.js}"></script>
<script type="text/javascript" th:src="@{styles/js/main.js}"></script>

</body>
</html>
